# .gitignore

# Packer
*.pkr.hcl.backup
packer_cache/
crash.log
*.box

# Secrets
*.pkrvars.hcl.secret
secrets/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# pem files
*.pem